$myColor: #001F3F;
$myColor1:#CB1511;
$myColor2:#fff;
$myFamily: 'Kaushan Script', cursive;
@import '_header.scss';
@import '_Main.scss';
@import '_welcome.scss';
@import '_cuisine.scss';
@import '_location.scss';
@import '_works.scss';
@import '_explore.scss';
@import '_bacFixed.scss';
@import '_popular.scss';
@import '_customers.scss';
@import '_app.scss';
@import '_news.scss';
@import '_footer.scss';
@import '_aboutFixed.scss';
@import '_intro.scss';
@import '_chefs.scss';
@import '_watch.scss';